@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap");

:root {
  --font-bold: "Outfit", sans-serif;
  --font-heading: "Sora", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}
/* ===================== BASE STYLE ===================== */
body {
  font-family: var(--font-poppins);
}
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
/* ===================== CUSTOM STYLE ===================== */
.logo {
  font-family: var(--font-bold);
}
header nav a {
  text-transform: capitalize;
  font-family: var(--font-heading);
  transition: all 0.2s ease-in-out;
}
header nav a:hover {
  transform: translateY(-3px);
  color: #7008e7;
  font-weight: 500;
}
.heading {
  font-family: var(--font-bold);
}
.blog-card {
  height: 200px;
}
.card-heading {
  font-family: var(--font-bold);
  font-weight: 700;
}
.card-body {
  font-size: 0.8rem;
}
.card-tags {
  font-family: var(--font-bold);
  font-size: 0.6rem;
  font-weight: 800;
}
.blog-link {
  font-size: 0.8rem;
}
.blog-meta section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  margin: 0 auto;
  max-width: 260px;
}
.blog-title {
  font-family: var(--font-bold);
}

.nav-link-active {
  color: #7c3aed;
  font-weight: 600;
}
.nav-link-inactive {
  color: #374151;
  text-decoration: none;
}
